body
{
    background-color : #232323;
    background: #232323;
}

.square
{
    width:  30%;
    background-color : purple;
    padding-bottom: 30%;
    float : left;
    margin: 1.66%;
}

.container 
{
    margin: 0 auto;
    max-width: 600px;
}

h1
{
    color : white;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    background-color: cornflowerblue;
    font-size: 3em;
    font-weight: normal;
    padding: 20px 0;
}

#stripe
{
    background-color: white;
    height: 30px;
    text-align: center;
    margin: 0;
}

.selected
{
    background-color: steelblue;
}

button
{
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    height: 100%;
    font-size: 1.5em;
    transition: all 0.5s;
}

#message
{
    display: inline-block;
    width: 20%;
    font-size: 1.5em;
}

button:hover
{
    color: white;
    background-color: steelblue;
}